@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

div.app > header {
        font-size: 20px;
        display: grid;
        text-align: center;
        align-items: center;
        background-color: transparent;
        padding: 2rem;
        color: #e0d7cd ;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: auto;
        }
